body {
    padding-top: 70px;
    overflow-x: hidden;
    letter-spacing: .024em;
}
h4.article-index-title {
    height: 30px;
    line-height: 30px;
}
h4.article-index-title span.label {
    margin: 0 7px;
    position:relative;
    top: -3px;
}
h3.article-show-title {
    display: block;
}
h3.article-show-title span.label{
    margin: 0 7px;
    position: relative;
    top: -3px;
}
.bs-header {
    padding: 30px 15px 40px;
    font-size: 16px;
    text-align: left;
    font-size: 21px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
}

.bs-header p {
    font-weight: 300;
    line-height: 1.5;
}
/*=====回到顶端======*/
#gototop {
    display: none;
    position: fixed;
    right: 3%;
    bottom: 10%;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    background: #ffffff;
    padding: 5px;
    z-index: 200;
}

#gototop:hover {
    background-color: #EEE;
    color: #000;
    border-color: #999;
}
/*==================*/
.ke-icon-simpcode {
    background-image: url(../images/code.png)!important;
    background-position: -2px -2px;
    width: 16px;
    height: 16px;
}