@charset "utf-8";
/* CSS Document */
#content-div {
	margin: 50px 40px 10px 40px;
}
#content-div h2 {
	margin-bottom: 10px;
}
#content-div p {
	margin-bottom: 5px;
}
#content-div p input[type="text"] {
	border: 1px solid #CCCCCC;
	background-color: #FFF;
    padding: 2px;
}
#content-div p select {
	padding: 2px;
	margin-right: 2px;
	height: 24px;
	border: 1px #CCCCCC solid;
	background-color: #FFF;
}
#type{
	min-width: 150px;
}
.copyright_declare{
	text-align: center;
	font: 14px/20px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
}