@charset "utf-8";
#back_intro {
	margin: 50px 40px 10px 40px;
}
#back_intro .tabs{
	font: 16px/24px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
	height: 2.6em;
    margin-bottom: 1.2em;
    overflow: hidden;
    position: relative;
}
#back_intro .tabs ul {
    border-bottom: 1px solid #BBBBBB;
    bottom: 0;
    margin: 0;
    padding-left: 1em;
    position: absolute;
    width: 2000px;
}
#back_intro .tabs ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    list-style-type: none;
    margin-bottom: -1px;
    margin-right: 8px;
    position: relative;
    white-space: nowrap;
}
#back_intro .tabs ul li a {
    background-color: #EEEEEE;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
	border-radius: 4px 4px 0 0;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.3em;
    padding: 4px 6px;
    text-decoration: none;
}
#back_intro .tabs ul li a:hover {
    background-color: #FFFFDD;
    text-decoration: none;
}
#back_intro .tabs ul li a.selected {
    background-color: #FFFFFF;
    border-color: #BBBBBB #BBBBBB #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
#content .tabs ul li a.selected:hover {
    background-color: #FFFFFF;
}
#article_list{
	/*border: 1px #CCC solid;*/
}
#select_article {
	margin-bottom: 10px;
}
#select_article p label {
	font-size: 12px;
}
#select_article p select, #select_article p input[type="text"] {
	padding: 2px;
	border: 1px #CCCCCC solid;
}
#lstBox {
    width: 100%;
	font-size: 12px;
	font-family: Verdana,"Lucida Grande",Arial,Helvetica,sans-serif;
}
#lstBox .tdleft {
    padding-left: 6px;
    text-align: left;
}
.gray {
    color: #999999;
}
#lstBox th {
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    padding: 6px 2px;
    text-align: center;
}
#lstBox td {
    border-top: 1px solid #EEEEEE;
    padding: 12px 2px;
    text-align: center;
}
#lstBox tr:hover {
    background-color: #F9FAD1;
}
.page_nav {
	font-size: 13px;
    color: #666666;
    margin: 20px 0;
    text-align: center;
}
.page_nav span {
    margin: 0 10px;
}
.page_nav strong {
    background: none repeat scroll 0 0 #07519A;
    border: medium none;
    color: #FFFFFF;
    height: 24px;
    line-height: 24px;
    margin: 0 3px;
    text-decoration: none;
}
.page_nav a, .page_nav strong {
    background: none repeat scroll 0 0 #07519A;
    border: 1px solid #DBE5EE;
    cursor: pointer;
    display: inline-block;
    font: 12px/22px Arial,Helvetica,sans-serif;
    height: 22px;
    margin: 0 2px;
    padding: 0 8px;
}
#type_list{
	margin: 10px 0px;
}
#add_type_div .t_input {
    border: 1px solid #CCCCCC;
    line-height: 100%;
    padding: 4px 2px;
	margin-top:10px;
	margin-bottom: 20px;
}
#blog_images_list {
	width: 100%;
	min-height: 400px;
	font-size: 12px;
}

/* image列表样式 */
#blog_images_list{
	overflow: hidden;
}
#blog_images_list dl{
	float: left;
    margin: 3px;
	margin-bottom: 10px;
    text-align: center;
    width: 160px;
}
#blog_images_list dd {
	margin: 0px;
}
#blog_images_list dl dd  a{
	text-decoration: none;
}
#blog_images_list dl dd a img{
	padding:2px;
	border:1px #AAA solid;
}
#blog_images_list dl dt{
	font:Verdana, Geneva, sans-serif;
}

#configure_info{
	font-size: 12px;
}
#configure_info p {
	margin: 3px;
}
#configure_info p input[type="text"] {
	border: 1px solid #CCCCCC;
	background-color: #FFF;
    padding: 2px;
	margin: 5px 0;
}
.copyright_declare{
	text-align: center;
	font: 14px/20px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
}

