<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.herokuapp.lzqwebsoft.controller" />
    <context:component-scan base-package="com.herokuapp.lzqwebsoft.interceptor" />

    <!-- <mvc:annotation-driven /> -->

    <!-- 以.html为后缀时，想使其处理JSON信息，则需要额外的说明Spring默认接收JSON类型， -->
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false" />
        <property name="defaultContentType" value="application/json" />
    </bean>
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" />

    <!-- 拦截器配置 -->
    <mvc:interceptors>
        <!-- 验证用户是否登录的拦截器，拦截所有请求 -->
        <bean class="com.herokuapp.lzqwebsoft.interceptor.AuthenticateInterceptor" />
        <!-- 配置显示博客信息的拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/" />
            <mvc:mapping path="/show/*.html" />
            <mvc:mapping path="/index.html" />
            <mvc:mapping path="/select/*.html" />
            <mvc:mapping path="/search.html" />
            <bean class="com.herokuapp.lzqwebsoft.interceptor.BlogInfoInterceptor" />
        </mvc:interceptor>
        <!-- 当网友评论博文时，邮件通知博主 -->
        <mvc:interceptor>
            <mvc:mapping path="/comment/add.html" />
            <bean class="com.herokuapp.lzqwebsoft.interceptor.SendEmailInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="viewResover" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- properties 资源文件 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>home-messages</value>
                <value>user-messages</value>
                <value>set-messages</value>
                <value>qiniu-keys</value>
            </list>
        </property>
    </bean>

    <!-- 配置CommonsMulipartResolver，支持文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5242880" />
        <!--<property name="uploadTempDir" value="upload-temp" />-->
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!-- 配置的文章种类 -->
    <bean id="patterns" class="com.herokuapp.lzqwebsoft.pojo.ArticlePattern">
        <property name="patterns">
            <map>
                <entry key="1" value="原创" />
                <entry key="2" value="转载" />
                <entry key="3" value="翻译" />
            </map>
        </property>
    </bean>

    <bean id="themes" class="com.herokuapp.lzqwebsoft.pojo.CodeTheme">
        <property name="themes">
            <map>
                <entry key="Default" value="Default" />
                <entry key="Django" value="Django" />
                <entry key="Eclipse" value="Eclipse" />
                <entry key="Emacs" value="Emacs" />
                <entry key="FadeToGrey" value="FadeToGrey" />
                <entry key="MDUltra" value="MDUltra" />
                <entry key="Midnight" value="Midnight" />
                <entry key="RDark" value="RDark" />
            </map>
        </property>
    </bean>
</beans>