<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

    <bean id="propertyConfigurer" 
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:database.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${database.driverClassName}"/>
		<property name="url" value="${database.url}"/>
		<property name="username" value="${database.username}"/>
		<property name="password" value="${database.password}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="mappingResources">
    		<list>
    			<value>com/herokuapp/lzqwebsoft/pojo/User.hbm.xml</value>
    			<value>com/herokuapp/lzqwebsoft/pojo/Menu.hbm.xml</value>
    			<value>com/herokuapp/lzqwebsoft/pojo/Article.hbm.xml</value>
    			<value>com/herokuapp/lzqwebsoft/pojo/ArticleType.hbm.xml</value>
    			<value>com/herokuapp/lzqwebsoft/pojo/Image.hbm.xml</value>
    			<value>com/herokuapp/lzqwebsoft/pojo/Comment.hbm.xml</value>
    			<value>com/herokuapp/lzqwebsoft/pojo/BlogInfo.hbm.xml</value>
    		</list>
    	</property>
    	<!-- hibernate的一些配置 -->
        <property name="hibernateProperties">
            <props>
            	<!--使用的数据库方言-->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>
</beans>

