@charset "utf-8";
/* CSS Document */
#content-div {
	margin: 50px 40px 10px 40px;
}
#login_content {
	margin: 0 auto;
	width: 300px;
}
#login_content p {
	margin-bottom: 10px;
}
#login_content #error_info {
	font: #F00;
}
#login_content input[type="text"], #login_content input[type="password"] {
	border: 1px solid #CCCCCC;
	background-color: #FFF;
    padding: 2px;
	width: 100%;
}
#login_content input[type="submit"], #login_content input[type="button"] {
	padding: 2px;
}
#login_content a {
	font-size: 12px;
}
.copyright_declare{
	text-align: center;
	font: 14px/20px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
}
