@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}
body {
    background:url("../images/wood.jpg") repeat scroll 0 0 transparent;
    padding: 0 0 20px;
	background-attachment:fixed;
}
a {
    color: #BCBB93;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #8FB34F;
}

abbr, acronym {
    cursor: help;
}
/*=====用于添加的顶端工具栏======*/
.mod-topbar {
	display: block;
    background: url("../images/top_tools_bg.png") repeat-x scroll left top transparent;
    height: 40px;
    left: 0;
    padding-bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1023;
}
.mod-topbar .wrapper-box {
    height: 30px;
    margin: 0 auto;
    padding-bottom: 0;
	position: relative;
    width: 75%;
	min-width: 200px;
}
.mod-topbar .left-box {
    float: left;
    padding-top: 3px;
}
.mod-topbar .center-box {
    float: left;
    height: 30px;
    margin-left: 50px;
}
.mod-topbar .q-menubox {
    float: left;
	list-style: none;
    height: 100%;
}
.mod-topbar .q-menubox .q-menuitem {
    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 30px;
    text-align: center;
	padding:0px 10px 0px 10px;
}
.mod-topbar .right-box {
    float: right;
    height: 30px;
	margin-right: -7px;
}

.mod-topbar .q-navbox {
    float: right;
	list-style-type: none;
    height: 100%;
}
.mod-topbar .q-navbox .q-navitem {
    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 30px;
    text-align: center;
}
.mod-topbar .q-navbox .q-navitem a {
    border-bottom: medium none;
    color: #454545;
    display: block;
    float: left;
    height: 30px;
    padding: 0 5px;
}
.mod-topbar .q-navbox .q-navitem a img{
	border: 0;
}
/*====设置的顶端工具档右项菜单====*/
.right-box li li {
    float: left;
    height: 30px;
}
.right-box li li a {
    line-height: 30px !important;
}
.right-box li ul {
	list-style: none outside none;
	border-width: 1px 1px 0;
    left: -999em;
    margin: 0;
    position: absolute;
	top: 30px;
    width: 150px;
}
.right-box li ul li {
    border-style: solid none;
    border-width: 1px medium;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #DDD;
	border-right: none;
	border-left: none;
}
.right-box li ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
	font: 14px/20px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;;
    
    height: 30px;
    opacity: 0.8;
	filter: alpha(opacity=80);
    /*text-shadow: 0 1px 0 #000000 !important;*/
    width: 100px;
}
.right-box li:hover, #topnav li.hover {
    position: static;
}
.right-box li ul ul {
    margin: -31px 0 0 150px;
}
.right-box li a:hover, .right-box li a:active {
    /*background: url("../images/bg.png") repeat-x scroll 0 -74px transparent;*/
	background-color: #9C0;
    display: block;
    line-height: 30px;
    padding: 0 25px;
    text-decoration: none;
}
.right-box li:hover ul{
    left: auto;
}
/*================*/

/*=====回到顶端======*/
#gototop {
	display:none;
	position:fixed;
	right: 10%;
	bottom:100px;
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border:1px solid #CCC;
	border-radius: 4px 4px 4px 4px;
	background:#ffffff;
	padding:5px;
	z-index: 1023;
}
#gototop:hover{
	background-color: #9C0;
	color:#000;
	border-color:#999;
}
/*==================*/

#container {
    background: url("../images/bg.png") repeat-y scroll center center;
    left: 50%;
    margin-left: -390px;
    overflow: auto;
    position: relative;
    width: 781px;
    z-index: 100;
}
#intro {
    height: auto !important;
	padding-top: 30px;
    padding-bottom: 14px;
    position: relative;
}
#pageHeader {
    background: url("../images/header.jpg") no-repeat scroll center center transparent;
    height: 245px;
    margin: 0 auto;
    position: relative;
    width: 781px;
}
#pageHeader h1 {
	padding-top: 50px;
	padding-left: 80px;
}
#pageHeader h2 {
	padding-top: 10px;
	padding-left: 100px;
}
#pageHeader h1, #pageHeader h2 {
    /*display: none;*/
	font: Arial,Lucida Grande,Tahoma,sans-serif;
	text-shadow: 0 1px 0 #FFFFFF;
}
/*#quickSummary {
	padding-left: 40px;
}
#quickSummary p{
    color: #A8A781;
    font: 14px Georgia,"Times New Roman",Times,serif;
    left: 58px;
    text-indent: 14px;
	color: #8FB34F;
}
#quickSummary p.p2 a {
    display: inline;
    position: relative;
}
#preamble {
    color: #A8A781;
    font: italic 12px/18px Georgia,"Times New Roman",Times,serif;
    margin-left: 42px;
    margin-top: 19px;
    width: 440px;
}
#preamble h3 {
    background: url("enlightenment.gif") repeat scroll 0 0 transparent;
    height: 14px;
    width: 302px;
}
#preamble p {
    letter-spacing: 0.03em;
    margin: 18px 0 18px 17px;
    text-align: justify;
}*/
#supportingText {
    font: 14px/20px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
    margin: 0px 0 0 40px;
    padding-bottom: 26px !important;
    text-align: justify;
    width: 470px;
}
.explanation h3 {
    height: 18px;
    /*width: 424px;*/
}
.explanation h3  a{
	color: #000000;
}
.explanation h3 a:hover{
	color:#777777;
}
.article_description {
    text-indent: 2em;
}
.article_date {
	color:#333;
}
#supportingText p {
    margin: 10px 0;
}
#page_number {
	overflow: hidden;
}
#page_count,#page_description{
	float:left
}
#page_count {
	margin-left: 5px;
	margin-bottom: 20px;
	text-align: center;
}
#page_count ul{
	list-style-type: none;
	margin: 0px;
	display: block;
}
#page_count ul li{
	border: #000 solid 1px;
	margin-left: 5px;
	display: block;
	float:left;
	border-radius: 2px 2px 2px 2px;
}
#page_count ul li a{
	background-color: #990;
	display: block;
	padding: 0 3px;
	min-width: 20px;
}
#page_count ul li a:hover {
	background-color: #9C0;
}
#footer {
    /*background: url("check.gif") no-repeat scroll left center transparent;*/
    display: inline;
    float: right;
    margin-bottom: -26px;
    padding-left: 18px;
}
#extraDiv1 {
    background: url("../images/bottom.png") repeat scroll 0 0 transparent;
    height: 42px;
    left: 50%;
    margin-left: -390px;
    position: relative;
    width: 781px;
}
#linkList {
    position: absolute;
    right: 30px;
    top: 284px;
    width: 196px;
}
#linkList h3.select {
    /*background: url("select.gif") repeat scroll 0 0 transparent;*/
    height: 34px;
    width: 196px;
}
#linkList h3.archives {
    /*background: url("archives.gif") repeat scroll 0 0 transparent;*/
    height: 25px;
    width: 196px;
}
#linkList h3.resources {
    /*background: url("resources.gif") repeat scroll 0 0 transparent;*/
    height: 12px;
    margin-top: 30px;
    width: 196px;
}
#linkList ul {
    color: #BCBB93;
    font: 12px/16px "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Lucida,Arial,Helvetica,sans-serif;
    margin: 5px 0 20px 23px;
	list-style-image: url("../images/blt_sm.gif");
	display: block;
}
#linkList ul li {
	color: #A9A867;
    margin-bottom: 4px;
}
#linkList ul a {
    color: #A9A867;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
#linkList ul a:hover {
    border: medium none;
    color: #B2D378;
}
#linkList #lselect ul {
    font: 11px/16px "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Lucida,Arial,Helvetica,sans-serif;
    list-style-image: url("../images/blt_lrg.gif");
    margin: 5px 0 20px 23px;
}
#linkList #lselect ul a {
    color: #A9A867;
    display: block;
    font-size: 14px;
    line-height: 14px;
}
#linkList #lselect ul a.c {
    color: #BCBB93;
    display: inline;
    font-size: 11px;
    font-style: normal;
    letter-spacing: 0;
}
#linkList #lselect ul a:hover {
    border: medium none;
    color: #B2D378;
}
#linkList #lconnect ul{
	list-style-image: url("../images/email_icon.gif");
}
#linkList #larchives ul,#linkList #lresources ul,#linkList lconnect ul{
	margin: 20px 0 20px 20px;
}

/*=======弹出窗体样式======*/
.dialog_frame {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #F0F0EE;
	text-shadow: 0 1px 0px #fff;
	font-family: 'Microsoft YaHei',微软雅黑,tahoma,verdana,helvetica;
}
.dialog_frame_shadow {
	border: 1px solid #A0A0A0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 4px 16px #A0A0A0;
}
.dialog_frame_title {
	border:0;
	margin:0;
	padding:0;
	background-color: #F0F0EE;
	padding: 10px;
	text-align: left;
	font: 14px/1 'Microsoft YaHei',微软雅黑,tahoma,verdana,helvetica;
	font-weight: bold;
	color: #222222;
	cursor: move;
}
.dialog_frame_close {
	color: #900;
	display: block;
	background-position: 0px -688px;
	width: 16px;
	height: 16px;
	position: absolute;
	border: 0;
	margin: 0;
	padding: 0;
	right: 10px;
	top: 10px;
	cursor: pointer;
	/*background-image: url(../javascripts/kindeditor/skins/default/default.gif);*/
	overflow: hidden;
}
.dialog_frame_close:hover {
	color:#F00;
}
.dialog_frame_body {
	border:0;
	margin:0;
	padding:0;
	margin: 10px 10px 0 10px;
}
.dialog_frame_bottom {
	border:0;
	margin:0;
	padding:0;
	font: 12px/1 "sans serif",tahoma,verdana,helvetica;
	text-align: right;
	padding:0 0 5px 0;
}
.dialog_frame_yes {
	margin: 5px;
}
.dialog_frame_no {
	margin: 5px 20px 5px 5px;
}
.farme-button{
	letter-spacing: 3px;
	padding: 2px 3px;
}