@charset "utf-8";
#article_type_link {
	font-size: 12px;
	font-family: 微软雅黑,Verdana,sans-serif,宋体;
	margin: 10px 40px 10px 40px;
}
#article_content {
	font: 14px/20px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
	margin: 10px 40px 10px 40px;
}
#article_content h3{
	margin: 5px 0px;
}
.article_date{
	margin-bottom: 20px;
}
.article_date .article_operate{
	float: right;
}
#article_content .article_context{
	margin-bottom: 10px;
}
#article_content .article_link{
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}
.article_link .previous_article_link{
	float: left;
}
.article_link .next_article_link{
	float: right;
}
#article_content .assume_you_like {
	margin-bottom: 10px;
}
#article_content .assume_you_like ul {
	margin: 0 0 10px;
	width: 300px;
	list-style-type: none;
	padding: 0px;
}
#article_content .assume_you_like ul li span {
	float: right;
}
#article_content .root_comment {
	margin-bottom: 10px;
}
#article_content .root_comment p {
	background-color: #EEEEEE;
	border-radius: 4px 4px 4px 4px;
	padding:2px;
	font-size: 12px;
}
#article_content .root_comment p span {
	float: right
}
#article_content .child_comment {
	margin-left: 20px;
}
#article_content .input_reply_div p{
	margin: 5px 0;
}
#article_content .input_reply_div p input[type="text"] {
	width: 200px;
	height: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
}
#article_content .input_reply_div p textarea {
	height: 85px;
	width: 460px;
	overflow-x: hidden;
    overflow-y: auto;
}
#article_content #wordcount {
    bottom: 10px;
    color: #AAAAAA;
    font-size: 14px;
    margin: -50px 250px;
    position: relative;
    text-align: center;
}
#article_content #wordcount #str {
    font-size: 25px;
}
#article_content .reply_article {
	margin-bottom: 30px;
}
#article_content .copyright_declare {
	text-align: center;
}
.no_comments {
	padding: 5px;
	text-align: center;
}
#prompt_replay_info {
	background-color: #EEEEEE;
	overflow: hidden;
	border-radius: 4px 4px 4px 4px;
	padding:2px;
	display: none;
}
#prompt_replay_info p{
	display: block;
}
#info_prompt_message {
	float: left;
}
#cancel_replay_button {
	float: right;
}