<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>博客管理-lzqwebsoft's blog</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/comment.css" />
    <link type="text/css" rel="stylesheet" href="css/lightbox.css" media="screen" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="js/ke4/themes/default/default.css" />  
    <script type="text/javascript" charset="utf-8" src="js/ke4/kindeditor-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/ke4/lang/zh_CN.js"></script>
    <style type="text/css">
        table tbody td {
           vertical-align : middle!important;
        }
        #blog_images_list {
            min-height: 400px;
        }
        /* image列表样式 */
        #blog_images_list{
            overflow: hidden;
        }
        #blog_images_list dl{
            float: left;
            margin: 3px;
            margin-bottom: 10px;
            text-align: center;
            width: 273px;
        }
        #blog_images_list dd {
            margin: 0px;
        }
        #blog_images_list dl dd  a{
            text-decoration: none;
        }
        #blog_images_list dl dd a img{
            padding:2px;
            border:1px #AAA solid;
        }
        #blog_images_list dl dt{
            font-weight: normal;
        }
    </style>
</head>

<body style="padding-top: 70px;">
    <!-- 导航菜单 -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- 左导航菜单 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">飘痕の博客</a>
            </div>

            <!-- 右导航菜单 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="about.html" data-toggle="modal" data-target="#aboutDailog">关于</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">管理<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">登&nbsp;&nbsp;录</a></li>
                            <li><a href="#">注&nbsp;&nbsp;销</a></li>
                            <li class="divider"></li>
                            <li><a href="#">发表博客</a></li>
                            <li><a href="#">修改密码</a></li>
                            <li class="divider"></li>
                            <li><a href="#">设&nbsp;&nbsp;置</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 主体内容 -->
    <div class="container">
        <h2>博客管理</h2>

        <!-- 回到页面顶点 -->
        <div class="goBackToTop">
            <a id="gototop" href="#blog-header" title="回到顶端" style="display: none;">TOP</a>
        </div>

        <!-- 关于对话框主体 -->
        <div class="modal fade" id="aboutDailog" tabindex="-1" role="dialog" aria-labelledby="aboutDailogLabel" aria-hidden="true"></div>

        <div id="tabs" style="margin-bottom: 30px;">
            <ul class="nav nav-tabs">
                <li id="article_list_tag" class="active"><a href="javascript:void(0);">文章列表</a></li>
                <li id="type_list_tag"><a href="javascript:void(0);">类别管理</a></li>
                <li id="draft_list_tag"><a href="javascript:void(0);">草稿箱</a></li>
                <li id="blog_images_list_tag"><a href="javascript:void(0);">博客用图</a></li>
                <li id="configure_info_tag"><a href="javascript:void(0);">信息设置</a></li>
            </ul>
        </div>

         <div id="article_list">
            <div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="article_type">类别：</label>
                        <div class="col-sm-2">
                        <select name="article_type" class="form-control" id="article_type" onchange="">
                            <option value="0">全部</option>
                            <option>Java</option>
                            <option>Android</option>
                            <option>Python</option>
                        </select>
                        </div>

                        <label for="title" class="col-sm-1 control-label">标题：</label>
                        <div class="col-sm-8">
                        <input type="text" class="form-control" name="title" id="key_words" maxlength="30"  onchange="" />
                        </div>
                    </div>
                </form>
            </div>
            <table id="lstBox" class="table table-hover table-vcenter">
                <thead>
                <tr>
                    <th>标题</th>
                    <th class="text-center" style="width:50px;">阅读</th>
                    <th class="text-center" style="width:50px;">评论</th>
                    <th class="text-center" style="width:80px;">评论权限</th>
                    <th class="text-center" style="width:160px;" class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">Ubuntu下设置Android SDK Manager使用代理</a><span class='gray'>(2013-01-19 19:42:45)</span></td>
                    <td class="text-center">1100</td>
                    <td class="text-center">0</td>
                    <td class="text-center"><a href='javascript:void(0)' onclick="update_allow_comment('${article.id}', 'false', this);" class='lock'>禁止评论</a></td>
                    <td class="text-center">
                        <a href='<%= request.getContextPath() %>/edit/${article.id}.html'>编辑</a> |
                        <a href='javascript:void(0)' onclick="">置顶</a> |
                        <a href='javascript:void(0)' name=del>删除</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">Ubuntu下设置Android SDK Manager使用代理</a><span class='gray'>(2013-01-19 19:42:45)</span></td>
                    <td class="text-center">784</td>
                    <td class="text-center">0</td>
                    <td class="text-center"><a href='javascript:void(0)' onclick="update_allow_comment('${article.id}', 'false', this);" class='lock'>禁止评论</a></td>
                    <td class="text-center">
                        <a href='<%= request.getContextPath() %>/edit/${article.id}.html'>编辑</a> |
                        <a href='javascript:void(0)' onclick="">取消置顶</a> |
                        <a href='javascript:void(0)' name=del>删除</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="#">Ubuntu下设置Android SDK Manager使用代理</a><span class='gray'>(2013-01-19 19:42:45)</span></td>
                    <td class="text-center">784</td>
                    <td class="text-center">0</td>
                    <td class="text-center"><a href='javascript:void(0)' onclick="update_allow_comment('${article.id}', 'false', this);" class='lock'>禁止评论</a></td>
                    <td class="text-center">
                        <a href='<%= request.getContextPath() %>/edit/${article.id}.html'>编辑</a> |
                        <a href='javascript:void(0)' onclick="">置顶</a> |
                        <a href='javascript:void(0)' name=del>删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <div id="page_description">24篇文章, 共5页</div>
         </div>

        <!--  ----文章类别-----  -->
        <div id="type_list" style="display:none">
            <table class="table table-hover table-vcenter">
                <thead>
                <tr>
                    <th>类别</th>
                    <th class="text-center" style="width:120px;">文章</th>
                    <th class="text-center" style="width:100px;">操作</th>
                </tr>
                </thead>
                <tbody>
                    <td>Android</td>
                    <td class="text-center">1</td>
                    <td class="text-center">
                        <a href='javascript:void(0)' onclick="">编辑</a> | <a href='javascript:void(0)' onclick="">删除</a> <br />
                        <a href='javascript:void(0)' onclick="">显示</a> | <a href='javascript:void(0)' onclick="">隐藏</a> <br />
                    </td>
                </tbody>
            </table>
            <div id="add_type_div">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input id="txtArticleType" class="form-control" type="text" size="50" placeholder="请输入新的类别名称" />
                    </div>
                    <button id="btnAdd" class="btn btn-default" onclick="add_article_type()">添加分类</button>
                </form>
            </div>
        </div>

        <!--  ----草稿箱-----  -->
        <div id="draft_list" style="display:none">
            <table class="table table-hover table-vcenter">
                <thead>
                <tr>
                    <th class="tdleft">标题</th>
                    <th style="width:50px;" class="text-center">阅读</th>
                    <th style="width:50px;" class="text-center">评论</th>
                    <th style="width:140px;" class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                    <td>
                        <a href='<%= request.getContextPath() %>/show/${draft.id}.html'>来吧来吧</a>
                        <span>(2014-04-04)</span>
                    </td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">
                        <a href='javascript:void(0)' onclick="">编辑</a> | <a href='javascript:void(0)' onclick="">删除</a>
                    </td>
                </tbody>
            </table>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <div id="page_description">24篇文章, 共5页</div>
        </div>

        <!-- 博客用图 -->
        <div id="blog_images_list" style="display:none">
            <dl>
               <dd>
                  <a rel="lightbox[roadtrip]" title="XXX" href="images/test.png">
                      <img src="images/test.png" width="253" height="200" alt="xxx" title="xxx" />
                  </a>
               </dd>
               <dt>
                  <a title="xxx" href="images/test.png" rel="lightbox">图片</a>&nbsp;&nbsp;
                  <a href="javascript:void(0)" x>删除</a>
               </dt>
            </dl>
            <dl>
               <dd>
                  <a rel="lightbox[roadtrip]" title="XXX" href="images/xunlei_bg.png">
                      <img src="images/xunlei_bg.png" width="253" height="200" alt="xxx" title="xxx" />
                  </a>
               </dd>
               <dt>
                  <a title="xxx" href="images/xunlei_bg.png" rel="lightbox">图片</a>&nbsp;&nbsp;
                  <a href="javascript:void(0)" x>删除</a>
               </dt>
            </dl>
        </div>

        <div id="configure_info" style="display:none;">
            <form role="form">
                <div class="form-group">
                    <label for="head">博客名称</label>
                        <input type="text" class="form-control" id="head" placeholder="请输入博客名">
                    </div>
                <div class="form-group">
                    <label for="descriptions">个性签名</label>
                    <input type="text" class="form-control" id="descriptions" placeholder="请求输入博客签名">
                </div>
                <div class="form-group">
                    <label for="email">关联邮箱</label>
                    <input type="email" class="form-control" id="email" placeholder="请求输入关联邮箱">
                </div>
                <div class="form-group">
                    <label for="about">博客描述</label>
                    <textarea id="blog_description" name="about" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-default">保存</button>
            </form>
        </div>

        <hr />
        <footer>
            <p>Powered by <a href="http://www.heroku.com">Heroku</a>, UI by <a href="http://www.bootcss.com/">Bootstrap</a>, Design by <a href="https://twitter.com/lzqwebsoft">Johnny</a>.</p>
            <p>Copyright &copy; 2012 - 2014</p>
        </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightbox/lightbox.min.js" charset="utf-8"></script>
    <script src="js/comment.js"></script>

    <script src="js/set.js"></script>
</body>
</html>