<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">  
<beans>
   <bean id="viewResover" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
         <property name="prefix" value="/WEB-INF/pages/" />  
         <property name="suffix" value=".jsp" />  
   </bean>
   
   <bean id="usrlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
       <property name="mappings">
           <props>
              <prop key="/index.html">indexController</prop>
           </props>
       </property>
   </bean>
   
   <!-- 首页 -->
   <bean name="indexController" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
       <property name="viewName" value="index" />
   </bean>
   
</beans>