<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        
   <context:component-scan base-package="com.herokuapp.lzqwebsoft" />
   
   <mvc:annotation-driven />
   
   <!-- 拦截器配置 -->
   <mvc:interceptors>
      <!-- 验证用户是否登录的拦截器，拦截所有请求 -->
      <bean class="com.herokuapp.lzqwebsoft.interceptor.AuthenticateInterceptor" />
      <!-- 配置显示博客信息的拦截器 -->
	  <mvc:interceptor>
		  <mvc:mapping path="/show/*.html" />
		  <mvc:mapping path="/index.html" />
		  <bean class="com.herokuapp.lzqwebsoft.interceptor.BlogInfoInterceptor" />
	  </mvc:interceptor>
   </mvc:interceptors>
   
   <!-- 配置的静态资源 -->
   <mvc:resources mapping="/resources/**" location="/resources/**"/>
   
   <bean id="viewResover" class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
       <property name="prefix" value="/WEB-INF/pages/" />  
       <property name="suffix" value=".jsp" />  
   </bean>
   
   <!-- properties 资源文件 -->
   <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
       <property name="basenames">
           <list>
              <value>home-messages</value>
              <value>user-messages</value>
              <value>set-messages</value>
           </list>
       </property>
   </bean>
   
   <!-- 配置CommonsMulipartResolver，支持文件上传 -->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
       <property name="maxUploadSize" value="5242880" />
       <property name="uploadTempDir" value="upload-temp" />
       <property name="defaultEncoding" value="UTF-8" />
   </bean> 
   
   <!-- 配置的文章种类 -->
   <bean id="patterns" class="com.herokuapp.lzqwebsoft.pojo.ArticlePattern">
      <property name="patterns">
          <map>
             <entry key="1" value="原创" />
             <entry key="2" value="转载" />
             <entry key="3" value="翻译" />
          </map>
      </property>
   </bean>
</beans>